{% block address_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'autocomplete':'off'}) %}

        {{ block('form_widget_compound') }}

        <div style="display: none;">
            <p class="text text-warning address-approximate">{{ 'approximative'|trans() }}</p>
            <div id="map_{{ form.vars.id }}" class="krg_address_map" style="width:100%;"></div>
        </div>

        <script type="text/javascript">
            (function () {
                var address = document.getElementById('{{ form.vars.id }}');
                var name = document.getElementById('{{ form.name.vars.id }}');
                var address1 = document.getElementById('{{ form.address1.vars.id }}');
                var postalCode = document.getElementById('{{ form.postalCode.vars.id }}');
                var approximate = document.getElementById('{{ form.approximate.vars.id }}');
                var mapping = {
                    address1: address1,
                    address2: document.getElementById('{{ form.address2.vars.id }}'),
                    postalCode: postalCode,
                    city: document.getElementById('{{ form.city.vars.id }}'),
                    department: document.getElementById('{{ form.department.vars.id }}'),
                    region: document.getElementById('{{ form.region.vars.id }}'),
                    latitude: document.getElementById('{{ form.latitude.vars.id }}'),
                    longitude: document.getElementById('{{ form.longitude.vars.id }}')
                };
                var fields = ['postalCode', 'city', 'department', 'region', 'latitude', 'longitude'];

                function onPlaceChange(event) {
                    event.preventDefault();

                    var isApproximate = event.target === postalCode;
                    var _fields = isApproximate ? fields : [];

                    approximate.value = isApproximate ? 1 : 0;
                    if (isApproximate) {
                        address.nextElementSibling.classList.remove('hide');
                    } else {
                        address.nextElementSibling.classList.add('hide');
                    }
                    update(event.target.googleAutocomplete, _fields);
                    handleApproximate(isApproximate, event.target.googleAutocomplete)
                }

                function handleApproximate(isApproximate) {
                    address.nextElementSibling.style.display = isApproximate ? '' : 'none';
                    if (isApproximate) {
                        var mapEl = document.getElementById('map_{{ form.vars.id }}');
                        var latitude = mapping['latitude'];
                        var longitude = mapping['longitude'];

                        map = new google.maps.Map(mapEl, {
                            zoom: 13,
                            center: {lat: parseFloat(mapping['latitude'].value), lng: parseFloat(mapping['longitude'].value)}
                        });
                        mapEl.style.height = '200px';
                        marker = new google.maps.Marker({
                            map: map,
                            draggable: true,
                            animation: google.maps.Animation.DROP,
                            position: {lat: parseFloat(mapping['latitude'].value), lng: parseFloat(mapping['longitude'].value)}
                        });
                        google.maps.event.addListener(marker, 'dragend', function (event) {
                            mapping['latitude'].value = this.getPosition().lat();
                            mapping['longitude'].value = this.getPosition().lng();
                            approximate.value = 0;
                        });
                    }
                }

                function onReset(event) {
                    event.preventDefault();
                    var _fields = event.target === postalCode ? fields : [];
                    reset(event.target, _fields);
                }

                function reset(element, fields) {
                    for (var field in mapping) {
                        if (typeof(fields) === 'object' && fields.constructor === Array && fields.length > 0 && fields.indexOf(field) < 0) {
                            continue;
                        }
                        if (mapping[field] === element) {
                            continue;
                        }
                        if(field === 'name') {
                            continue;
                        }
                        mapping[field].value = '';
                        mapping[field].setAttribute('value', '');
                    }
                }

                function update(autocomplete, fields) {
                    var place = autocomplete.getPlace();
                    var components = place.address_components;
                    var value;

                    for (var field in mapping) {
                        if (typeof(fields) === 'object' && fields.constructor === Array && fields.length > 0 && fields.indexOf(field) < 0) {
                            continue;
                        }
                        value = '';
                        switch(field) {
                            case 'name':
                                if (place.types[0] !== 'street_address' && place.name) {
                                    value = place.name;
                                } else {
                                    value = mapping[field].value;
                                }
                                break;
                            case 'address1':
                                sublocality_level_1 = autocomplete.getAddressValue('sublocality_level_1', 'short_name', components)
                                if (sublocality_level_1) {
                                    value = sublocality_level_1;
                                } else {
                                    value = autocomplete.getAddressValue('route', 'short_name', components);
                                    street_number = autocomplete.getAddressValue('street_number', 'short_name', components);
                                    if (street_number) {
                                        value = street_number + ', ' + value;
                                    }
                                }
                                break;
                            case 'postalCode':
                                value = autocomplete.getAddressValue('postal_code', 'short_name', components);
                                break;
                            case 'city':
                                value = autocomplete.getAddressValue('locality', 'short_name', components);
                                break;
                            case 'department':
                                value = autocomplete.getAddressValue('administrative_area_level_2', 'long_name', components);
                                break;
                            case 'region':
                                value = autocomplete.getAddressValue('administrative_area_level_1', 'long_name', components);
                                break;
                            case 'latitude':
                                value = place.geometry.location.lat();
                                break;
                            case 'longitude':
                                value = place.geometry.location.lng();
                                break;
                        }
                        mapping[field].value = value;
                        mapping[field].setAttribute('value', value);
                    }
                }

                address1.addEventListener('place_changed', onPlaceChange);
                address1.addEventListener('keyup', onReset);
                address1.addEventListener('reset', onReset);
                postalCode.addEventListener('place_changed', onPlaceChange);
                postalCode.addEventListener('keyup', onReset);
                postalCode.addEventListener('reset', onReset);
            })();
        </script>
    {% endspaceless %}
{% endblock %}
