{% block address_widget %}
    {% set attr = attr|merge({'autocomplete':'false'}) %}

    {{ block('form_widget_compound') }}

    {% block map %}
        <div style="display: none;">
            <div class="alert alert-warning" role="alert">
                {{ 'approximative'|trans() }}
            </div>
            <div id="map_{{ form.vars.id }}" style="width:100%;"></div>
        </div>
    {% endblock %}

    <script type="text/javascript">
        (function () {
            var askPreciseCoordinates = '{{ ask_precise_coordinates }}';
            var address = document.getElementById('{{ form.vars.id }}');
            var map;
            var inputs = {
                address1:    document.getElementById('{{ form.address1.vars.id }}'),
                address2:    document.getElementById('{{ form.address2.vars.id }}'),
                postalCode:  document.getElementById('{{ form.postalCode.vars.id }}'),
                city:        document.getElementById('{{ form.city.vars.id }}'),
                latitude:    document.getElementById('{{ form.latitude.vars.id }}'),
                longitude:   document.getElementById('{{ form.longitude.vars.id }}'),
                department:  document.getElementById('{{ form.department.vars.id }}'),
                region:      document.getElementById('{{ form.region.vars.id }}'),
                approximate: document.getElementById('{{ form.approximate.vars.id }}'),
            };

            function onPlaceChange(event) {
                var isApproximate = (event.target === inputs.city);

                for (var field in inputs) {
                    if (isApproximate) {
                        if ('address1' === field) {
                            continue; {# Keep address on city update #}
                        }
                    }

                    inputs[field].value = handleComponentValue(field, event.target.autocompleteData, isApproximate);
                }

                handleApproximate(isApproximate, event.target.autocompleteData)
            }

            function handleApproximate(isApproximate) {
                inputs.approximate.value = isApproximate ? 1 : 0;

                if (isApproximate && askPreciseCoordinates) {
                    address.nextElementSibling.style.display = isApproximate ? '' : 'none';
                    var mapEl = document.getElementById('map_{{ form.vars.id }}');
                    var latitude = inputs.latitude.value;
                    var longitude = inputs.longitude.value;

                    map = new google.maps.Map(mapEl, {
                        zoom: 13,
                        center: {lat: parseFloat(latitude), lng: parseFloat(longitude)}
                    });

                    mapEl.style.height = '200px';

                    marker = new google.maps.Marker({
                        map: map,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                        position: {lat: parseFloat(latitude), lng: parseFloat(longitude)}
                    });

                    google.maps.event.addListener(marker, 'dragend', function (event) {
                        inputs.latitude.value = this.getPosition().lat();
                        inputs.longitude.value = this.getPosition().lng();
                        inputs.approximate.value = 0;
                    });
                }
            }

            function handleComponentValue(field, autocomplete, isApproximate) {
                var place = autocomplete.getPlace();
                var components = place.address_components;
                var value = '';

                switch (field) {
                    case 'address1':
                        sublocality_level_1 = getComponentValue('sublocality_level_1', 'short_name', components);
                        if (sublocality_level_1) {
                            value = sublocality_level_1;
                        } else {
                            value = getComponentValue('route', 'short_name', components);
                            street_number = getComponentValue('street_number', 'short_name', components);

                            if (street_number) {
                                value = street_number + ', ' + value;
                            }
                        }
                        return value;
                    case 'postalCode':
                        return getComponentValue('postal_code', 'short_name', components);
                    case 'city':
                        return getComponentValue(['locality', 'postal_town'], 'short_name', components);
                    case 'department':
                        return getComponentValue('administrative_area_level_2', 'long_name', components);
                    case 'region':
                        return getComponentValue('administrative_area_level_1', 'long_name', components);
                    case 'latitude':
                        return place.geometry ? place.geometry.location.lat() : 0;
                    case 'longitude':
                        return place.geometry ? place.geometry.location.lng() : 0;
                }

                return value;
            }

            function getComponentValue(types, format, components)
            {
                if (components) {
                    for (var i = 0; i < components.length; i++) {
                        if (typeof types === 'string') {
                            types = [types];
                        }
                        for (var n = 0; n < types.length; n++) {
                            for (var t = 0; t < components[i].types.length; t++) {
                                if (components[i].types[t] === types[n]) {
                                    return components[i][format];
                                }
                            }

                        }
                    }
                }

                return '';
            }

            function handleKeys(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                }
            }

            function reset(event) {
                for (var field in inputs) {
                    inputs[field].value = ''
                }
            }

            var selectFirstOnEnter = function (input) {
                var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;

                function addEventListenerWrapper(type, listener) {
                    if (type == 'keydown') {
                        var origListener = listener;
                        listener = function (event) {
                            var addressList = document.querySelectorAll('.pac-item-selected').length > 0;
                            if (event.which == 13 && !addressList) {
                                origListener.apply(input, [new KeyboardEvent('keypress',{keyCode: 40})]);
                            }
                            origListener.apply(input, [event]);
                        };
                    }
                    _addEventListener.apply(input, [type, listener]);
                }

                if (input.addEventListener) {
                    input.addEventListener = addEventListenerWrapper;
                } else if (input.attachEvent) {
                    input.attachEvent = addEventListenerWrapper;
                }
            }

            inputs.address1.addEventListener('place_changed', onPlaceChange);
            inputs.address1.addEventListener('keypress', handleKeys);
            inputs.address1.addEventListener('reset', reset);
            selectFirstOnEnter(inputs.address1);
            inputs.city.addEventListener('place_changed', onPlaceChange);
            inputs.city.addEventListener('keypress', handleKeys);
            inputs.city.addEventListener('reset', reset);
            selectFirstOnEnter(inputs.city);
        })();
    </script>
{% endblock %}
